[package]
name = "shua_struct_macro"
version = "0.1.0"
edition = "2024"

[lib]
proc-macro = true

[dependencies]
quote = "1.0.42"
syn = { version = "2", features = ["extra-traits", "fold", "full", "visit"] }
proc-macro2 = { version = "1.0.53", features = ["span-locations"] }